$liteBlueColor : #44c0c2;
$activeBlueColor : #49cbcd;
$activeBgColor : #f8f9fb;
$navColor : #484c55;
$commonFontColor : #4e525d;
$bgPriceColor : #f1f1f1;
$darkBlueColor : #485460;
$priceItemColor : #8c9299;
$contactsColor : #bface2;



$lobster : "Lobster", cursive;
$openSans : "Open Sans", Arial, sans-serif;
$mariad : "MyriadProRegular", Arial, sans-serif;
